.border-blue{

  border-style:solid
  border-color:#387ef5; 
  margin: 10px

}
@media screen and (min-width: 720px) {
	.screenadjust{
		width:720px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		
	}
}
.ethadress-display{
	width:80%;
	text-overflow: ellipsis;	
}
.border{

	border-width: 1px;
	border-color: #9bbefa;
}
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.center-div {

  width: 200px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-10%, -10%); 
}