.background-app{
  /*background: url(../img/background-blue.jpg) no-repeat center;
  background-size:cover;*/

  background-color:  #4B0082	;

  /* Gradient of two colors */
  background: -webkit-linear-gradient(bottom right, #000066, #0052cc);
  background: -o-linear-gradient(bottom right, #000066, #0052cc);
  background: -moz-linear-gradient(bottom right, #000066, #0052cc);
  background: linear-gradient(bottom right, #000066, #0052cc);
}

.form-validation{
  color:chartreuse;
  font-weight:bold;
}

.button-divider{
    width:2em;
    height:auto;
    display:inline-block;
}

.item > small{
  color: red;
  font-weight: bold;
}

.input-label{
  font-weight: bold;
}
.app-logo{
  display: block;
  width: 70%;
  height:70%;
  margin-left: auto;
  margin-right: auto;
}

.button-medium{

	line-height: 8px !important;
    height: 30px !important;
    margin:auto;
    padding: 5px;
    display:block;
}

fieldset{
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

}
fieldset:disabled{
  opacity: 0.3;
}
.loadingText{

  font-weight:bold;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #0052cc;
}
.verify-icon {
  font-size: 35px;
  color: #33cd5f;

}
.miningSpinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
  z-index: 100 !important;
  opacity: 0.8;
}

.miningSpinner svg {

  width: 19% !important;
  height: 85px !important;
  stroke: #0052cc !important;
}

.allContractsSpinner svg{


  margin: auto;
  position: absolute;
  top: 80%; left: 0; bottom: 0; right: 0;
  height: 100px;
  text-align: center;
  z-index: 100 !important;
  stroke: #33cd5f !important;

}

.button-radius{
  border-radius: 7px 7px 7px 7px;
}

a{
  display: block;
  align-self: center;
  text-align: center;
  color:white;
}
/*a:hover{
  color:greenyellow ;
}*/

/* Hide up-down arrows for number fields - Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Hide up-down arrows for number fields - Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.icon-search {
    margin-right: 10px;
}
.ContractAttr {font-size:13px;color:#191919;float:left;}
.ContractValue h4{font-size:13px;color:#595959;}
.ContractDetails h4{color:#595959;}
.ContractValueContainer {margin-left:100px;}
.moreDetails{cursor: pointer; cursor: hand;color:#008ae6; font-weight: 500;float:right;margin-right:5px;margin-bottom:5px;}
.actionButton{cursor: pointer; cursor: hand;color:#26734d; font-weight: 500;float:left;text-align:left; margin-left:10px;}
.actionButton1{cursor: pointer; cursor: hand;color:#26734d; font-weight: 500;float:left;text-align:left; margin-left:25px;}
.emptyContracts{vertical-align: center;text-align: center; margin-top:22%;}
.error{color:red;}

.unreadMessage{

	background-color:#f2f8fd !important;

}

.list .item.item-accordion { line-height: 38px; padding-top: 0; padding-bottom: 0; transition: 0.09s all linear; }
.list .item.item-accordion.ng-hide { line-height: 0px; }
.list .item.item-accordion.ng-hide-add,.list .item.item-accordion.ng-hide-remove { display: block !important; }
.accordion-icon { margin-right: 10px; }
/*.contract-count{ color: #4390df; font-weight: bold; margin-left: 10px;float:right;}*/
.contract-count{ background-color:rgb(215, 25, 64);
  border-radius: 20px;
  color: white;

  padding: 2px 10px;
  font-size: 13px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 25px;
  right: 7px;}
.contract-status{ float:left;}
.item .badge { display: flex;line-height: 16px;position: absolute;right: 50px;top: 16px;}
.copy-icon { font-size: 20px !important; cursor: pointer; cursor: hand;  height: 50% !important;float:right;}
.varify-icon { font-size: 15px !important; position: relative !important;float: left;  margin-right: 10px;width: 10px;}
.hashvarify,.sigvarify,.tnxvarify { float: left;margin-right: 15px;font-size: 13px; }
.txvarify { margin-top: 5px;float:left; }
.helpText{ font-weight:bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0052cc;}
