<ion-view title="All Contracts" id="page1">
  <ion-content padding="true" class="has-header" style="background:#F5F5F5">
    <div class="screenadjust">

      <div ng-show="pendingcontracts.length > 0 ">

        <div class="item item-divider">Pending Contracts</div>

        <div class="list card" style="margin:5px 0 5px 0; !important;" ng-repeat="pcontract in pendingcontracts  | orderBy : '-creation_date' track by $index ">

          <div class="item">
            <div class="ContractAttr">
              <h4>From: </h4>
              <h4>Counter Party: </h4>
              <h4>Asset Name: </h4>
              <h4>Deal ID: </h4>
              <h4>Created On: </h4>
            </div>

			<div class="ContractValue ContractValueContainer">
              <h4 style="font-size:13px;color:#595959">{{pcontract.from_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{pcontract.counter_party_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{pcontract.asset_name}}</h4>
              <h4 style="font-size:13px;color:#595959">{{pcontract._id}}</h4>
              <h4 style="font-size:13px;color:#595959">{{pcontract.creation_date | date:" dd/MM/yyyy h:mm:ss a "}}</h4>

            </div>

          </div>

          <div class="card-action">
              <a ng-click="acceptContract(pcontract)" ng-if="pcontract.tx.length == 1 && ( pcontract.counter_party_email == user_email || pcontract.counter_party_address == user_address)" class="actionButton">ACCEPT</a>
              <a ng-click="rejectContract(pcontract)" ng-if="pcontract.tx.length == 1 && ( pcontract.counter_party_email == user_email || pcontract.counter_party_address == user_address)" class="actionButton">REJECT</a>
              <a ng-click="acceptSettlement(pcontract)" ng-if="pcontract.tx.length == 3 && pcontract.tx[2].caller!=user_email " class="actionButton">ACCEPT SETTLEMENT</a>
              <ion-spinner icon="dots" class="allContractsSpinner" ng-if="pcontract.actionstatus"></ion-spinner>
              <a ng-click="moreDetails(pcontract)" class="moreDetails">MORE DETAILS</a>
           </div>

        </div>
      </div>

      <div ng-show="activecontracts.length > 0 ">

        <div class="item item-divider" style="margin:10px 0 0 0; !important;">Active Contracts</div>
        <div class="list card" style="margin:5px 0 5px 0; !important;" ng-repeat="acontract in activecontracts  | orderBy : '-creation_date' track by $index">

          <div class="item">

            <div class="ContractAttr">
              <h4>From: </h4>
              <h4>Counter Party: </h4>
              <h4>Asset Name: </h4>
              <h4>Deal ID: </h4>
              <h4>Created On:</h4>
            </div>

           <div class="ContractValue ContractValueContainer">
              <h4 style="font-size:13px;color:#595959">{{acontract.from_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{acontract.counter_party_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{acontract.asset_name}}</h4>
              <h4 style="font-size:13px;color:#595959">{{acontract._id}}</h4>
              <h4 style="font-size:13px;color:#595959">{{acontract.creation_date | date:" dd/MM/yyyy h:mm:ss a"}}</h4>
            </div>

          </div>


          <div class="card-action">
              <a ng-click="settleContract(acontract)" ng-if="acontract.tx.length == 2 " class="actionButton" >SETTLE CONTRACT</a>
              <ion-spinner icon="dots" class="allContractsSpinner" ng-if="acontract.actionstatus"></ion-spinner>
              <a ng-click="moreDetails(acontract)" class="moreDetails" >MORE DETAILS</a>
          </div>

        </div>

      </div>

      <div ng-show="completedcontracts.length > 0 ">

        <div class="item item-divider" style="margin:10px 0 0 0; !important;">Completed Contracts</div>
        <div class="list card" style="margin:5px 0 5px 0; !important;" ng-repeat="ccontract in completedcontracts | orderBy : '-creation_date' track by $index">

          <div class="item">

            <div class="ContractAttr">
              <h4>From: </h4>
              <h4>Counter Party: </h4>
              <h4>Asset Name:</h4>
              <h4>Deal ID: </h4>
              <h4>Created On:</h4>

            </div>

           <div class="ContractValue ContractValueContainer">
              <h4 style="font-size:13px;color:#595959">{{ccontract.from_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{ccontract.counter_party_email}}</h4>
              <h4 style="font-size:13px;color:#595959">{{ccontract.asset_name}}</h4>
              <h4 style="font-size:13px;color:#595959">{{ccontract._id}}</h4>
              <h4 style="font-size:13px;color:#595959">{{ccontract.creation_date | date:" dd/MM/yyyy h:mm:ss a"}}</h4>
            </div>
			
          </div>
          <div class="card-action">
              <a ng-click="moreDetails(ccontract)" class="moreDetails" >MORE DETAILS</a>
          </div>

        </div>

      </div>

      <div ng-show="( completedcontracts.length == 0 && pendingcontracts.length == 0 && activecontracts.length == 0)" class="emptyContracts">
        No contracts created
      </div>

    </div>
  </ion-content>
</ion-view>
