<ion-view title="Create Contract" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="screenadjust">
      <div class="row">
        <div class="col">

          <form name="createContractForm" class="form form-validation createContract" ng-submit="CreateDeal(data)">
            <!-- Search Phonebook -->
            <label class="item item-stacked-label">
              <span class="input-label" style="padding-bottom:3px;">Select Counterparty</span>
              <div class="item item-input" ng-click="selectCounterparty()">
                <input type="text" placeholder="Search Phonebook" ng-model= "data.counterparty"/>
                <i class="icon ion-search"></i>
              </div>
            </label>
            <!-- Form Fields -->
            <label class="item item-input item-stacked-label">
              <span class="input-label">Asset Name</span>
              <input type="text" name="assetname" placeholder="What are you lending? Eg. Camera, Book, CD" ng-model="data.assetname" ng-minlength="3" required>
              <small ng-show="createContractForm.assetname.$error.minlength" class="ng-hide">Asset name must be longer than 3 charactes</small>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Asset ID</span>
              <input type="text" name="assetid" placeholder="Unique Asset Identifier" ng-model="data.assetid" ng-minlength="3" required>
              <small ng-show="createContractForm.assetid.$error.minlength" class="ng-hide">Asset ID must be longer than 3 charactes</small>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Start Date</span>
              <input type="date" name="startdate" ng-model="data.startdate" required>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">End Date</span>
              <input type="date" name="enddate" ng-model="data.enddate" required>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Description</span>
              <textarea placeholder="Additional Terms & Conditions" name="description" ng-model="data.description" required></textarea>
            </label>
            <small style="color:red; font-weight:bold">All fields are mandatory</small>
            <div>
              <button id="create-deal" class="button button-medium button-radius button-balanced button-block" ng-disabled="createContractForm.$invalid">
                <ion-spinner ng-hide="spinnerFlag" class="spiral">Mining</ion-spinner>
                <i class="loginText" ng-hide="textFlag">Create Deal<i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
