<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" style="background: url(img/background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">

    <div class="spacer" style="width: 290px; height: 20px;"></div>


    <form name="loginForm" class="list center-form form-validation">
      <div>
        <img src="img/app_logo.png" style="display: block;width: 70%; height:70%; margin-left: auto; margin-right: auto;"/>
      </div>
      <div class="list">
        <label class="item item-input top-input" id="loginUsername">
          <input type="text" placeholder="Username | Eth address" name="username" ng-model="data.username" required/>
        </label>
        <label class="item item-input bottom-input" id="loginPassword">
          <input type="password" placeholder="Password" name="password" ng-model="data.password" required/>
        </label>

        <!-- Show errors  -->
        <small ng-show="loginForm.username.$error.required || loginForm.password.$error.required">All fields are mandatory</small>
        <small ng-if="error">{{error}}</small>

      </div>


      <button id="login-button7" style="border-radius:15px 15px 15px 15px;" class="button button-balanced button-block" ng-disabled="loginForm.$invalid" ng-click="Login(data)">Log in</button>


      <a ui-sref="register" id="login-button8" class="button button-light  button-block button-clear">Don't have an account? REGISTER!</a>
      <hr style="border:2px dashed white">
      <div class="spacer" style="width: 290px; height: 20px;"></div>
      <button id="login-button11" style="border-radius:15px 15px 15px 15px;" class="button button-assertive  button-block">Import Existing Profile</button>
    </form>

  </ion-content>
</ion-view>
