<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" class="background-app manual-ios-statusbar-padding" scroll="false">

    <form name="loginForm" class="list center-form form-validation">
      <div>
        <img src="img/app_logo_white.jpg" style="display: block;width: 70%; height:70%; margin-left: auto; margin-right: auto;" />
      </div>
      <div class="list">
        <label class="item item-input top-input" id="loginUsername">
          <input type="text" placeholder="Username | Eth address" name="username" ng-model="data.username" ng-change = "onchangeinput()" required/>
        </label>
        <label class="item item-input bottom-input" id="loginPassword">
          <input type="password" placeholder="Password" name="password" ng-model="data.password" ng-change = "onchangeinput()" required/>
        </label>
        <small ng-show="loginForm.username.$error.required || loginForm.password.$error.required">All fields are mandatory</small>
        <small ng-show="error">{{error}}</small>
      </div>

      <!-- Login Buton -->
      <button id="login-button7" class="button  button-medium button-radius button-calm button-block" ng-disabled="loginForm.$invalid"
        ng-click="Login(data)" outline>
        <ion-spinner ng-hide="flag" name="bubbles"></ion-spinner>
                <i class="loginText" ng-hide="flag2">Login<i>
      </button>

      <div class="spacer" style="width: 290px; height: 10px;"></div>
      <a ui-sref="register" id="login-button8" style="color: #E3E3E3;text-decoration: none; font-size:15px;font-style:normal;font-weight: normal;">Don't have an account? REGISTER!</a>
      <div class="spacer" style="width: 290px; height: 10px;"></div>
      <hr style="border:1px solid #7e7e7e">
      <div class="spacer" style="height: 10px;"></div>

      <input ng-show="false" id="fileLoader" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" ng-model="myFile"
        accept=".zip" />

      <button id="login-button11" class="button  button-medium button-radius  button-positive  button-block" ng-click="Import()">Import Existing Profile</button>

    </form>
  </ion-content>
</ion-view>
