<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-more rotatebutton" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
	  
    </ion-nav-bar>

    <div>
      <ion-tabs class=" tabs-striped tabs-icon-top tabs-background-stable tabs-color-positive ">

        <ion-tab title="All Contracts" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tabs/allcontracts">
          <ion-nav-view name="allcontracts"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Phone Book" icon-off="ion-ios-book" icon-on="ion-ios-book" href="#/tabs/phonebook">
          <ion-nav-view name="phonebook"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Create Contract" icon-off="ion-ios-compose" icon-on="ion-ios-compose" href="#/tabs/createdeal">
          <ion-nav-view name="createdeal"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </div>

  </ion-side-menu-content>

  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">

      <div class="spacer" style="width: 268px; height: 20px;"></div>
      <div class="profile-image">
	 
        <img ng-click="uploadImage()" src="{{user.imagesrc=='null'?'img/placeholder-user.png' : user.imagesrc }}" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;"/>
      </div>

      <div class="spacer" style="width: 268px; height: 5px;"></div>
      <h4 id="menu-heading1" style="color:#F8F8F8;text-align:center;">{{user.name}}</h4>
      <h6 id="menu-heading5" style="color:#D3D3D3;text-align:center;">{{user.email}}</h6>
      <div class="spacer" style="width: 268px; height: 10px;"></div>
      <h6 id="menu-heading2" style="color:#D3D3D3;font-weight:normal;text-align:center;" class="eth-address">{{user.eth_address}}</h6>
      <div class="spacer" style="width: 268px; height: 20px;"></div>
      <h3 id="menu-heading3" style="color:#FFF;font-weight:400;text-align:center;" class="eth-balance">Balance: 0 ETH</h3>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
