<ion-view title="Contract Details" id="page6">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button ng-click="backButtonPress()" class="button button-icon button-clear ion-ios-arrow-back"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header" style="background:#F5F5F5">
    <div class="screenadjust more-details">
        <div class="card moreDetails" style="margin:5px 0 5px 0; !important;">

          <div class="list card" style="float:left; margin-left:15px; font-weight:bold; ">
            <div class="item" style="font-size:13px;">
              Deal ID
            </div>
            <div class="item" style="font-size:13px;">
              Counter-Party
            </div>
            <div class="item" style="font-size:13px;">
              Asset Name
            </div>
            <div class="item" style="font-size:13px;">
              Asset ID
            </div>
            <div class="item" style="font-size:13px;">
              Start Date
            </div>
            <div class="item" style="font-size:13px;">
              End Date
            </div>
            <div class="item" style="font-size:13px;">
              Current Status
            </div>
            <div class="item" style="font-size:13px;">
              Description
            </div>
          </div>

          <div class="list card" style="margin-left:13px;margin-right:25px;">
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData._id}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.counter_party_email}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.asset_name}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.asset_id}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.start_date * 1000 | date:"dd MMM yyyy "}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.end_date * 1000 | date:"dd MMM yyyy "}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.status}}
            </div>
            <div class="item" style="font-size:13px;">
              - &nbsp&nbsp&nbsp{{dealData.description}}
            </div>

          </div>
        </div>

        <div class="item-input-inset" ng-if="dealData.tx.length == 1 && ( dealData.counter_party_email == currentUserEmail || dealData.counter_party_address == user_address)">
          <button style="margin-left: 10%; width:40%" ng-click="acceptContract(dealData)" class="button button-balanced">Accept Deal</button>
          <div class="button-divider"></div>
          <button style="margin-right: 10%;width:40%" ng-click="rejectContract(dealData)" class="button button-assertive">Reject Deal</button>
        </div>

        <div class="item-input-inset" ng-if="dealData.tx.length == 2">
          <button style="margin-left: 30%;" ng-click="settleContract(dealData)" class="button button-balanced">Create Settlement</button>
        </div>

        <div class="item-input-inset" ng-if="dealData.tx.length == 3 && dealData.tx[2].caller!=currentUserEmail">
          <button style="margin-left: 30%;" ng-click="acceptSettlement(dealData)" class="button button-balanced">Accept Settlement</button>
        </div>

        <div class="list card">
          <div class="item item-divider">
            Transactions
          </div>
          <div class="item item-text-wrap" ng-repeat="tx in dealData.tx">
            Transaction ID {{$index+1}} - <span>{{tx.txHash}}</span>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
