<ion-view title="Phone Book" id="page2">
  <ion-content padding="true" class="has-header" class="phoneBook-container" style="background:#F8F8F8">

	<ion-refresher pulling-icon = "none" on-refresh="doRefresh()"></ion-refresher>
	
	<div class ="screenadjust">

		<div class="list list-inset">
			<div class="item item-input border">
				<i class="icon ion-search placeholder-icon"></i>
				<input ng-model="data.searchText" type="text" placeholder="Search Contacts" ng-change="searchTextChanged(data.searchText)" />
				<button type="button" ng-click="Clear()" ng-if="data.searchText.length" class="button-icon ion-android-close" > </button>
			</div>

		</div>


		<div ng-show="localcontacts.length > 0 && data.filteredlocalcontacts.length > 0 ">

			<div class="item item-divider">Local Contacts</div>
			<div class="list card" ng-repeat="contact in data.filteredlocalcontacts = ( localcontacts | filter: { _id: data.searchText }:exact | orderBy: '_id' ) track by $index">


				<div class="item item-avatar" ng-click="selectContact(contact)">
					<ng-letter-avatar avatarcustomborder=" border:1px solid #c3c3c3" data="{{contact._id}}" shape="round"></ng-letter-avatar>
					<div class = "ethadress-display">
						<h3 class="contactEmail">{{contact._id}}</h3>
						<h4 class="contactEthAccount" >{{contact.eth_address}}</h4>
					</div>
					<p ng-show="!visibilityflag" class="item-icon-right" ng-click="deleteContact(contact);$event.stopPropagation();"><i class="phoneBook-icon icon ion-trash-b"></i> </p>

				</div>
			</div>
		</div>

		<div ng-show="availablecontacts.length > 0 && data.filteredavailablecontacts.length > 0">
			<div class="item item-divider">Server Contacts</div>
			<div class="list card" ng-repeat="acontact in data.filteredavailablecontacts = ( availablecontacts |  filter: { email: data.searchText }:exact | orderBy: 'email') track by $index">

				<div class="item item-avatar" ng-click="selectContact(acontact)">
					<ng-letter-avatar avatarcustomborder=" border:1px solid #c3c3c3" data="{{acontact.email}}" shape="round"></ng-letter-avatar>
					<div class = "ethadress-display">
						<h3 class="contactEmail">{{acontact.email}}</h3>
						<h4 class="contactEthAccount">{{acontact.ethAccount}}</h4>
					</div>
					<p ng-show="!visibilityflag" class="item-icon-right" ng-click="addContact(acontact);$event.stopPropagation();"><i class="phoneBook-icon icon ion-person-add"></i> </p>
				</div>
			</div>
		</div>

		<div class ="ng-hide emptyContacts"  ng-show=" data.filteredavailablecontacts.length == 0  &&  data.filteredlocalcontacts.length == 0 " >
				
				No contacts available
				
		</div>

	</div>
  </ion-content>
</ion-view>

